.margen-hero {
    margin-top: 160px;
}

.margen-button {
    margin-bottom: 110px;
}

.img-back {
    background-image: url(../img/backgound.png);
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }